.TodoTemplate {
  width: 512px;
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
}
.TodoTemplate > .app-title {
    background: #038356;
    color: white;
    height: 150px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
 
  .TodoTemplate > .app-footer {
    background: #038356;
    color: white;
    height: 60px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
.TodoTemplate >  .content {
    background: white;
  }
  .TodoTemplate .imwidth {height: 220px;}
